body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #e5e7eb;
  color: #111827;
  min-height: 100vh;
}

h1 {
  margin-bottom: 1rem;
  padding: 6rem 0 1rem 0;
  color: #0f172a;
  text-align: center;
}

h2 , h5{
  font-weight: 400;
  margin-bottom: 1rem;
  color: #0f172a;
  text-align: center;
}

p {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

/* Header */
header {
  height: 100vh;
  margin-top: 1rem;
}

header h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 3rem;
}

header h2 {
  margin-bottom: 3rem;
  font-weight: 500;
}
header p {
  margin-top: 4rem;
}

.img-logo {
  display: block;
  margin: 0;
  max-width:300px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-menu a {
    margin: 0;
    color: #2563eb;
    text-decoration: none;
}

/* Servicios */
.Servicios h2{
  margin-bottom: 3rem;
  font-size: 2rem;
}

.Servicios .row {
  margin: 2rem
}

.Servicios .card {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  border: 2px solid;
  border-radius: 18px;
  padding: 1rem;
}

.Servicios .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.Servicios .card-text {
  font-size: 1.05rem;
}

/* Proyectos */
.Proyectos .contenedor-card{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.Proyectos h2{
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.Proyectos .card{
  font-size: 1.50rem;
  margin: 2rem;
  border: 2px solid;
  border-radius: 8px;
}

.card .btn {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background-color: #2563eb;
}

/* Sobre Mi */
.SobreMi{
  margin-bottom: 8rem;
  padding: 0 2rem;
  text-align: center;
}

.SobreMi h2{
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.SobreMi p {
  border: 2px solid;
  padding: 2rem;
  background-color: #f8f9fa;
  display: inline-block;
  text-align: center;
  border-radius: 18px;
}

/* Contacto */
.Contacto h2{
  margin-top: 6rem;
  margin-bottom: 4rem;
  font-size: 2rem;
}

.Contacto {
  text-align: center;
  margin-bottom: 4rem;
}

.Contacto a {
  display: inline-block;
  background-color: #2563eb;
  color: white;
  padding: 16px 26px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.Contacto a:hover {
  background-color: #1d4ed8;
}

.nav-footer {
  text-align: center;
  color: #2563eb;
}

.nav-footer a {
  margin: 0 0.5rem;
  text-decoration: none;
}

footer p {
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  font-size: 1rem;
}